@using CoCKeeperHelper.Data
@model CoCKeeperHelper.Models.ActorsAndPositions

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1></h1>
    @{
        @Html.Raw(@"<div class=""container"" align=""center"">");

        for (int i = 0; i < Model.Nodes - 1; i++)
        {
            <img src="../images/node.jpg" alt="A node" data-toggle="popover" data-placement="bottom" title="<b>Node</b>" />
            <img src="../images/path.jpg" alt="A path" />
            <img src="../images/path.jpg" alt="A path" />
        }
        <img src="../images/node.jpg" alt="A node" data-toggle="popover" data-placement="bottom" title="<b>Node</b>" />

        @Html.Raw("</div>");

        @Html.Raw(@"<div class=""container"" align=""center"">");

        for (int i = 0; i < Model.Nodes - 1; i++)
        {

            bool isCharacter = false;
            foreach (var c in Model.ActorPositions)
            {
                if (c.Position == i)
                {
                    var actorName = Model.Actors.FirstOrDefault(p => p.ID == c.CharacterID).Name;

                    <img src="../images/char.jpg" alt="temp" data-toggle="popover" data-placement="bottom" title="<b>@actorName</b>" data-content="temp" />
                    isCharacter = true;
                    break;
                }
            }
            if (!isCharacter)
            {
                <img src="../images/blank.jpg" alt="" />
            }

            <img src="../images/blank.jpg" alt="" />
            <img src="../images/blank.jpg" alt="A path" />
        }

        bool isfCharacter = false;
        foreach (var c in Model.ActorPositions)
        {
            if (c.Position == Model.Nodes - 1)
            {
                var actorName = Model.Actors.FirstOrDefault(p => p.ID == c.CharacterID).Name;

                <img src="../images/char.jpg" alt="temp" data-toggle="popover" data-placement="bottom" title="<b>@actorName</b>" data-content="temp" />
                isfCharacter = true;
                break;
            }
        }
        if (!isfCharacter)
        {
            <img src="../images/blank.jpg" alt="" />
        } 
        
        @Html.Raw("</div>");

        <div class="container">

        <form action="Assign" method="post">

            @Html.DropDownList("ActorIdBeingAssignedToNode", Model.Actors.Select(x => new SelectListItem() { Value = x.ID.ToString(), Text = x.Name }))

            <input asp-for="NodeActorIsBeingAssignedToo" />

            <input type="submit" name="save" value="Assign" />
        </form>
        </div>
        <a href="../actors/index">Actors</a>
    }
</body>
</html>