@using CoCKeeperHelper.Data
@using CoCKeeperHelper.Models
@model CoCKeeperHelper.Models.ModifySpeedModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>

    <p>The Escape's <b>MOV</b> rate is <b>@Model.EscapeeMov</b></p>
    <p>The Chaser's <b>MOV</b> rate is <b>@Model.ChaserMov</b></p>

    <p>Now roll the appropraite speed check skill to see who gets a speed modifier, for example <b>CON</b> roll if the chaser/escapee is on foot or <b>Drive Auto</b> if the chaser/escapee are using automobiles.</p>

    <!--TODO send all options selected to the contoller then modify the MOV values -->
    <div class="container">
        <p>Once rolled did the Escapee :- </p>

        @using (Html.BeginForm("Modify", "ModifySpeed"))
        {
            <fieldset id="group1">
                @Html.RadioButtonFor(model => model.EscapeeRoll, PassType.Regular, new { @checked = true }) Regular Pass <br>
                @Html.RadioButtonFor(model => model.EscapeeRoll, PassType.Extreme) Extreme Pass <br>
                @Html.RadioButtonFor(model => model.EscapeeRoll, PassType.Fail) Fail
            </fieldset>
            <p>Did the Chaser:- </p>
            <fieldset id="group2">
                @Html.RadioButtonFor(model => model.ChaserRoll, PassType.Regular, new { @checked = true }) Regular Pass <br>
                @Html.RadioButtonFor(model => model.ChaserRoll, PassType.Extreme) Extreme Pass <br>
                @Html.RadioButtonFor(model => model.ChaserRoll, PassType.Fail) Fail
            </fieldset>

            <input asp-for="ChaserMov" class="form-control" type ="hidden"/>
            <input asp-for="EscapeeMov" class="form-control" type ="hidden"/>

            <input type="submit" name="Finished" class="btn btn-success" value="Finished" />
        }
    </div>
</body>
</html>